@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: white;
}
.hero {
  background-color: #f6ebdb

}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

}
h1 {
  display: flex;
  justify-content: center;
  padding: 2px;
  font-size: 40px;
  font-weight: bold;
  background-color: #007ba7;
  font-family: "Rowdies";
  
  
}

.Typewriter {
  display: inline-block;
}

.Typewriter__wrapper {
  font-size: xx-large;
  font-weight: bold;
}

.Typewriter__cursor {
  font-size: xx-large;
  font-weight: bold;
}

.meImage {
  height: 100;
  width: 100;
}

.icon-list {
  height: 30px;
  margin: 10px 20px;
  display: flex
}

p {
  font-family: "Poppins";
  font-size: 20px;
  padding: 20px;
}

h3 {
  font-family: "Poppins";
  font-size: x-large;
  padding-top: 10px;
  display: flex;
  justify-content: center;

}

.skills-title {
  font-family: "Poppins";
  font-size: 20px;
  padding-bottom: 20px;
  
}

.header-title {
  background-color: transparent;
}

.footer {
  height: 75px;

}

.footer-icon {
  height: 35px;
  align-items: center;
  display: flex;
  margin: 10px
}

.card-title {
  display: flex;
  justify-content: center;
}

.card-subtitle {
  display: flex;
  justify-content: center;
  font-size: large;
  padding: 0;
}

.input {
  align-self: center;
  background-color: #f6ebdb;
  color: black
}

.worried {
  width: 200px;
  display: flex;
  justify-content: center;
}

.error {
  justify-content: start;
  font-size: x-large;
  margin-top: 50px;
}

.border {
  border: 30px solid #cc444b;
  border-style: groove;
  margin: 8%;
  padding: 0 60px 40px 60px;
  justify-content: center;
}